/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    
    background-color: #1E1F20;
}

/* Container to center content */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centered box */
.centered-box {
    width: 50%;  /* 50% of the screen width */
    
    padding: 50px 50px 50px 50px;
    background-color: #0E0E0E;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.centered-box h1 {
    margin-bottom: 0px;
    font-size: var(--wf-tfs, 2rem);
    font-weight: 400;
    color: #E3E3E3;
}
.centered-box h2 {
    margin-bottom: 69px;
    font-size: var(--wf-tfs, 1.3rem);
    font-weight: 400;
    color: #E3E3E3;
}

.centered-box p {
    font-size: 1.1rem;
    color: #666;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 20px
     
}
.column {
    padding: 0px;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    position: relative;
}
.column img {
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    align-self: flex-start;
}
.form-group {
    display:flex;
    margin-bottom: 8px;
    font-size: 14px; 
}
.form-group input {
    
    border: 1px solid #b7b6b6;
    padding: 10px 10px;
    border-radius: 4px;
    background: transparent;
    color: #E3E3E3;
    font-size: 16px;
    box-sizing:border-box
}
.form-group input:focus {
outline: none;
border-color: #4285F4;
}
.forgot a{
margin-bottom: 30px;
color: #A8C7FA;
text-decoration: none; 
}
.next { 
margin-top: 50px;
display: flex;
justify-content: flex-end;
margin-left:250px;
}
.next button {
    padding: 10px 20px;  /* Adjust the padding to make the button larger */
    background-color: #1E64D4;  /* Google blue background */
    color: white;  /* White text */
    border: none;  /* Remove the default border */
    border-radius: 50px;  /* Make the button round */
    cursor: pointer;  /* Show a pointer cursor when hovering over the button */
    font-size: 16px;  /* Font size */
    transition: background-color 0.3s;  /* Smooth transition for background color change */
}